
build*/
.directory
.mailmap
*.orig
*.rej
*~
.hg/
*.kdev*
.DS_Store
CMakeLists.txt.user
*.bak
*.patch
*.diff
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*
src/server/game/Scripting/ScriptLoader.cpp
src/server/scripts/Custom/npc_beastmaster.cpp
src/server/scripts/Custom/npc_enchanting.cpp
src/server/scripts/Custom/CMakeLists.txt
